<p id="notice"><%= notice %></p>

<p>
  <strong>Message content:</strong>
  <%= @message.message_content %>
</p>

<p>
  <strong>Route:</strong>
  <%= @message.route %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
