<center>
<div class="row">

      <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this document from being saved:</h2>

        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
      <% end %>

      <%= form_with(model: @user, local: true) do |form| %>


      <div class="col-md-6">
          <div class="form-group">
              <%= form.label :first_name %>
              <%= form.text_field :first_name , class: "form-control"  %>
          </div>
      </div>

      <div class="col-md-6">
            <div class="form-group">
                <%= form.label :last_name %>
                <%= form.text_field :last_name , class: "form-control"  %>
            </div>
      </div>

      <div class="col-md-6">
            <div class="form-group">
                <%= form.label :phone_number %>
                <%= form.text_field :phone_number , class: "form-control"  %>
            </div>
      </div>

      <div class="col-md-6">
            <div class="form-group">
                <%= form.label :cin_number %>
                <%= form.text_field :cin_number , class: "form-control"  %>
            </div>
      </div>

      <div class="col-md-6">
            <div class="form-group">
                <%= form.label :section %>
                <%= form.text_field :section , class: "form-control"  %>
            </div>
      </div>

      <div class="col-md-6">
            <div class="form-group">
                <%= form.label :school_year %>
                <%= form.text_field :school_year , class: "form-control"  %>
            </div>
      </div>

      <div class="col-md-6">
            <div class="form-group">
                <%= form.label :city %>
                <%= form.text_field :city , class: "form-control"  %>
            </div>
      </div>


      <div class="actions">
      <%= form.submit %>
      </div>
      <% end %>
                                     
</div>
</center>