
  <%= form_for(resource, as: resource_name, url: session_path(resource_name) , class: "form-horizontal form-material" , id: "loginform") do |f| %>


      <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" , class: 'form-control'%>
      </div>

      <div class="form-group">
          <%= f.label :password, "Mot de passe" %><br />
          <%= f.password_field :password, autocomplete: "off" , class: 'form-control' %>
      </div>

      <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me  %>
            <%= f.label :remember_me , "Se rappeler de moi" %>
          </div>
      <% end -%>
      <div class="form-group text-center">
        <div class="col-xs-12 p-b-20">
            <button class="btn btn-block btn-lg btn-info btn-rounded" type="submit">Se connecter</button>
        </div>

        <div class="form-group m-b-0">
            <div class="col-sm-12 text-center">
                Vous n'avez pas encore de compte? <a> <b> <%= link_to "S'inscrire" , new_user_registration_path ,class: "text-info m-l-5" %></b></a>
            </div>
        </div>
      </div>
  <% end %>

